html{
  background-color: hwb(197 4% 69%);
}
.container-fluid{
  background-color: hwb(197 4% 69%);
}
input[type="text"]{
  background-color:transparent;
  color:white;
}
input[type="text"]:focus{
  background-color:transparent;
  color:white;
}

